* {
  margin: 0;
}
body {
  background-color: pink;
}

img {
  display: inline-block;
  margin: auto;
  margin: 20px;
}

table,
thead {
  margin: 0%;
  border: black solid 1px;
}

td {
  background-color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
